**/__pycache__/**
outputs
s5_visualization/test
.venv
.vscode
homework_solutions
s5_visualization/datasets
s5_visualization/trained_models/*.pt
outputs
s7_detection/notebooks/lightning_logs
data
sber_homeworks/homework
sber_homeworks/hw1/cifar_data
sber_homeworks/hw1/vp_images
lightning_logs
spring_2023/test
*.pt