**/__pycache__/**
outputs
s5_visualization/test
.venv
.vscode
s5_visualization/datasets
s5_visualization/trained_models/*.pt
s7_detection/data
outputs
s7_detection/notebooks/lightning_logs
s12_self-supervised
docker_scripts/launch_container.sh