**/__pycache__/**
outputs
s5_visualization/test
.venv
.vscode
s5_visualization/datasets
s5_visualization/trained_models/*.pt
outputs
s7_detection/notebooks/lightning_logs
data
docker_scripts/launch_container.sh